{{ attach_library('badcamp/speaker') }}

<article class="speaker {{ class|default('') }}">

<div class="speaker__header">
  <div class="speaker__photo">
    {{ photo }}
  </div>
  <h2 class="speaker__name">{{ name }}</h2>
</div>

{% if role or bio  %}
  <div class="speaker__content">
    {%
      include '@badcamp/eyebrow/eyebrow.twig' with {
        'eyebrow': role,
        'class': 'speaker__eyebrow',
      } only
    %}
    {% if bio %}
      <p class="speaker__bio">{{ bio }}</p>
    {% endif %}
  </div>
{% endif %}

{% if items %}
  <div class="speaker__social-icons--wrapper">
    {%
      include '@badcamp/social-icons/social-icons.twig' with {
        'items': items,
        'class': 'speaker__social-icons',
      } only
    %}
  </div>
{% endif %}
</article>
